<section>
  <h4><%= review.user.first_name %> <%=review.user.last_name %></h4>

  <h4>Rating: <%= review.rating.to_s %></h4>
  
  <h5>Reviewed on <%= review.updated_at.strftime("%B %e, %Y") %></h5>
  <blockquote>
    <p><%= review.description %></p>
  </blockquote>
  <%if current_user && current_user.id == review.user.id%>
    <%= button_to 'Delete', { controller: :reviews, action: 'destroy', id: review.id, product_id: review.product_id }, method: :delete, class: 'btn btn-xs btn-danger'%>
  <%end%>
</section>
